@model IEnumerable<ManagementUsers.Models.User>

@{
    ViewData["Title"] = "Gerência de Usuários";
}

<h1>Usuários</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-primary">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
